In [1]:
import csv
import pandas as pd
from owlready2 import *

from rdflib import Graph
from rdflib import URIRef, BNode, Literal
from rdflib import Namespace
from rdflib.namespace import OWL, RDF, RDFS, FOAF, XSD

* Owlready2 * Warning: optimized Cython parser module 'owlready2_optimized' is not available, defaulting to slower Python implementation

In [2]:
def loadOntology(urionto):
    
    #Method from owlready
    onto = get_ontology(urionto).load()
    
    print("Classes in Ontology: " + str(len(list(onto.classes()))))
    for cls in onto.classes():                
            print("\t"+cls.iri)
    return onto

In [5]:
# using_builtin_libary("worldcities-free-100.csv")
df = pd.read_csv("worldcities-free.csv", sep=',', quotechar='"',escapechar="\\")

In [101]:
#Load ontology
onto = loadOntology("ex.owl")

Classes in Ontology: 4
	http://www.semanticweb.org/zacharias.detorakis/ontologies/2021/2/lab6#ex:country
	http://www.semanticweb.org/zacharias.detorakis/ontologies/2021/2/lab6#ex:capital
	http://www.semanticweb.org/zacharias.detorakis/ontologies/2021/2/lab6#ex:city
	http://www.semanticweb.org/zacharias.detorakis/ontologies/2021/2/lab6#ex:not_capital

In [6]:
g = Graph()
    
ex = Namespace("http://example.org/")
g.bind("ex", ex)
g.bind("ex", ex)

for index, row in df.iterrows():
    
    
#     Create the URIs for the cities and countries
    g.add((URIRef("http://example.org/"+row['city'].replace(" ", "_")), RDF.type, ex.city))
    g.add((URIRef("http://example.org/"+row['country'].replace(" ", "_")), RDF.type, ex.country))
    
#     Add city properties
    g.add((URIRef("http://example.org/"+row['city'].replace(" ", "_")), ex.name, Literal(row['city'])))
    g.add((URIRef("http://example.org/"+row['city'].replace(" ", "_")), ex.city_ascii, Literal(row['city_ascii'])))
    g.add((URIRef("http://example.org/"+row['city'].replace(" ", "_")), ex.admin_name, Literal(row['admin_name'])))
    g.add((URIRef("http://example.org/"+row['city'].replace(" ", "_")), ex.lattitude, Literal(row['lat'])))
    g.add((URIRef("http://example.org/"+row['city'].replace(" ", "_")), ex.longitude, Literal(row['lng'])))
    g.add((URIRef("http://example.org/"+row['city'].replace(" ", "_")), ex.population, Literal(row['population'])))
    g.add((URIRef("http://example.org/"+row['city'].replace(" ", "_"))
           , ex.has_country
           , URIRef("http://example.org/"+row['country'].replace(" ", "_"))))
    if (row['capital'] == row['capital']): #check for nan
        g.add((URIRef("http://example.org/"+row['city'].replace(" ", "_")), ex.capital_status, Literal(row['capital'])))

        # add country data properties
    g.add((URIRef("http://example.org/"+row['country'].replace(" ", "_")), ex.iso2_code,  Literal(row['iso2'])))
    g.add((URIRef("http://example.org/"+row['country'].replace(" ", "_")), ex.iso3_code,  Literal(row['iso3'])))
    g.add((URIRef("http://example.org/"+row['country'].replace(" ", "_")), ex.name,  Literal(row['country'])))
    
    if (row['capital'] == 'primary'):
        g.add((URIRef("http://example.org/"+row['country'].replace(" ", "_")), ex.has_capital, URIRef("http://example.org/"+row['city'].replace(" ", "_"))))
    
# print(g.serialize(format="turtle").decode("utf-8"))
g.serialize(destination='lab3_data_graph.ttl', format='ttl')

In [10]:

qres = g.query(
    """SELECT ?name ?capital ?population ?country_name where {
      ?city rdf:type ex:city;
              ex:name ?name;
              ex:population ?population;
              ex:capital_status ?capital;
              ex:has_country ?country.
      ?country ex:name ?country_name.
              
      FILTER (STR(?capital)="primary").
      FILTER (?population>5000000).
      
    }""")

print(f"'country_name','city_name','capital','population'")
for row in qres:
#     Row is a list of matched RDF terms: URIs, literals or blank nodes
    print(f"'{str(row.country_name)}','{str(row.name)}','{str(row.capital)}',{str(row.population)}")

'country_name','city_name','capital','population'
'Congo (Kinshasa)','Kinshasa','primary',13528000.0
'Tanzania','Dar es Salaam','primary',6698000.0
'Iraq','Baghdad','primary',5796000.0
'United Kingdom','Washington','primary',5379184.0
'United States','Washington','primary',5379184.0
'Turkey','Ankara','primary',5503985.0
'Philippines','Manila','primary',23088000.0
'Colombia','BogotÃ¡','primary',9464000.0
'Costa Rica','Buenos Aires','primary',16157000.0
'Argentina','Buenos Aires','primary',16157000.0
'Singapore','Singapore','primary',5745000.0
'Angola','Luanda','primary',8417000.0
'Vietnam','Hanoi','primary',7785000.0
'China','Beijing','primary',19433000.0
'Korea, South','Seoul','primary',21794000.0
'Sudan','Khartoum','primary',7282000.0
'Saudi Arabia','Riyadh','primary',6881000.0
'Mexico','Mexico City','primary',20996000.0
'Burma','Rangoon','primary',5430000.0
'Kenya','Nairobi','primary',5545000.0
'Japan','Tokyo','primary',37977000.0
'Indonesia','Jakarta','primary',34540000.0
'France','Paris','primary',11020000.0
'United States','Paris','primary',11020000.0
'Philippines','Santiago','primary',7007000.0
'Mexico','Santiago','primary',7007000.0
'Dominican Republic','Santiago','primary',7007000.0
'Chile','Santiago','primary',7007000.0
'Panama','Santiago','primary',7007000.0
'Peru','Santiago','primary',7007000.0
'Costa Rica','Santiago','primary',7007000.0
'Canada','London','primary',10979000.0
'United States','London','primary',10979000.0
'United Kingdom','London','primary',10979000.0
'Thailand','Bangkok','primary',17066000.0
'Bangladesh','Dhaka','primary',15443000.0
'Iran','Tehran','primary',13633000.0
'Peru','Lima','primary',9848000.0
'United States','Lima','primary',9848000.0
'United States','Moscow','primary',17125000.0
'Russia','Moscow','primary',17125000.0
'Malaysia','Kuala Lumpur','primary',8285000.0
'Egypt','Cairo','primary',19372000.0
'United States','Cairo','primary',19372000.0

In [57]:
type(qres)

rdflib.plugins.sparql.processor.SPARQLResult

In [41]:
g = Graph()
g.parse("lab3_data_graph.ttl", format="ttl")

In [60]:
df2 = pd.DataFrame(qres['results']['bindings'])
df2.applymap(lambda x: x['value'])

TypeError: 'SPARQLResult' object is not subscriptable